name: Javadoc
on:
  push:
    branches:
      - master

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.sha }}
  cancel-in-progress: true

jobs:
  javadoc:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    if: github.repository == 'spotbugs/spotbugs-gradle-plugin'
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - name: Set up JDK
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          distribution: 'temurin'
          java-version-file: .java-version
      - name: Set up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version-file: '.nvmrc'
          cache: npm
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5
      - name: Generate Dokka Generate
        run: ./gradlew dokkaGenerate
      - name: Prepare to Deploy
        run: |
          npm ci
          rm -f .git/hooks/commit-msg
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@d92aa235d04922e8f08b40ce78cc5442fcfbfa2f # v4
        with:
          BRANCH: gh-pages
          FOLDER: build/dokka/html/
