name: Java CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        gradle: ['5.6.4', '6.0', '6.3', '6.4']
    steps:
    - uses: actions/checkout@722adc6
      with:
        fetch-depth: 0
    - name: Set up JDK 11
      uses: actions/setup-java@d202f5d
      with:
        java-version: 11
    - name: Set up Node.js 12
      uses: actions/setup-node@8de2f9f
      with:
        node-version: 12
    - uses: actions/cache@cffae95
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    - name: Gradle Wrapper Validation
      uses: gradle/wrapper-validation-action@v1
    - name: Build with Gradle
      env:
        SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
        SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
      run: ./gradlew build --no-daemon -Dsnom.test.functional.gradle=${{ matrix.gradle }}
    - name: Run Semantic Release
      run: |
        echo "gradle.publish.key=${{ secrets.GRADLE_PUBLISH_KEY }}" > ~/.gradle/gradle.properties
        echo "gradle.publish.secret=${{ secrets.GRADLE_PUBLISH_SECRET }}" >> ~/.gradle/gradle.properties
        rm -rf build/libs/*.jar
        npm ci
        npm run semantic-release
      if: matrix.gradle == '6.0'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Run SonarQube Scanner
      run: |
        if [ "$SONAR_LOGIN" != "" ]; then
          ./gradlew sonarqube -Dsonar.login=$SONAR_LOGIN --no-daemon
        fi
      if: matrix.gradle == '6.0'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_LOGIN: ${{ secrets.SONAR_LOGIN }}
    - uses: actions/upload-artifact@3446296
      if: always()
      with:
        name: reports
        path: build/reports
