name: Java CI

on:
  push:
    branches:
      - master
  pull_request: {}
  workflow_dispatch: {}

jobs:
  build:
    strategy:
      matrix:
        gradle: [ '7.6.3', '8.1', 'current' ]
        os: [ ubuntu-latest, windows-latest, macos-latest ]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: webiny/action-conventional-commits@v1.3.0
      if: github.event_name == 'pull_request'
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version-file: .java-version
    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version-file: '.nvmrc'
        cache: npm
      if: matrix.gradle == '7.6.3' && matrix.os == 'ubuntu-latest'
    - name: Build with Gradle
      uses: gradle/actions/setup-gradle@v3
    - name: Build the project
      run: ./gradlew build -Psnom.test.functional.gradle=${{ matrix.gradle }} --scan
    - name: Verify class files
      if: matrix.os == 'ubuntu-latest'
      run: |
        echo "$PATH"
        echo "Verifying the java version used in class files..."
        cd build/classes/kotlin/main
        javap -v com.github.spotbugs.snom.SpotBugsPlugin | grep -q 'major version: 52'
    - name: Run Semantic Release
      run: |
        echo "gradle.publish.key=${{ secrets.GRADLE_PUBLISH_KEY }}" > ~/.gradle/gradle.properties
        echo "gradle.publish.secret=${{ secrets.GRADLE_PUBLISH_SECRET }}" >> ~/.gradle/gradle.properties
        rm -rf build/libs/*.jar
        npm ci
        npx semantic-release
      if: matrix.gradle == '7.6.3' && matrix.os == 'ubuntu-latest' && github.repository == 'spotbugs/spotbugs-gradle-plugin'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
        SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
    - name: Run SonarQube Scanner
      run: |
        if [ "$SONAR_LOGIN" != "" ]; then
          ./gradlew sonarqube -Dsonar.login=$SONAR_LOGIN --no-daemon
        fi
      if: matrix.gradle == '7.6.3' && matrix.os == 'ubuntu-latest' && github.repository == 'spotbugs/spotbugs-gradle-plugin'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_LOGIN: ${{ secrets.SONAR_LOGIN }}
    - uses: actions/upload-artifact@v4
      if: always()
      with:
        name: reports (Gradle ${{ matrix.gradle }}, ${{ matrix.os }})
        path: build/reports
