name: Java CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        gradle: ['7.6.2', '8.0']
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: 11
    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version-file: '.nvmrc'
        cache: npm
      if: matrix.gradle == '7.6.2'
    - name: Gradle cache
      uses: gradle/gradle-build-action@v2
    - name: Build with Gradle
      run: ./gradlew build -Dsnom.test.functional.gradle=${{ matrix.gradle }}
    - run: |
        echo Verifying the java version used in class files...
        cd build/classes/groovy/main
        javap -v com.github.spotbugs.snom.SpotBugsPlugin | grep -q 'major version: 52'
    - name: Run Semantic Release
      run: |
        echo "gradle.publish.key=${{ secrets.GRADLE_PUBLISH_KEY }}" > ~/.gradle/gradle.properties
        echo "gradle.publish.secret=${{ secrets.GRADLE_PUBLISH_SECRET }}" >> ~/.gradle/gradle.properties
        rm -rf build/libs/*.jar
        npm ci
        npx semantic-release
      if: matrix.gradle == '7.6.2' && github.repository == 'spotbugs/spotbugs-gradle-plugin'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
        SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
    - name: Run SonarQube Scanner
      run: |
        if [ "$SONAR_LOGIN" != "" ]; then
          ./gradlew sonarqube -Dsonar.login=$SONAR_LOGIN --no-daemon
        fi
      if: matrix.gradle == '7.6.2' && github.repository == 'spotbugs/spotbugs-gradle-plugin'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_LOGIN: ${{ secrets.SONAR_LOGIN }}
    - uses: actions/upload-artifact@v3
      if: always()
      with:
        name: reports (Gradle ${{ matrix.gradle }})
        path: build/reports
