name: Javadoc
on:
  push:
    branches:
      - master
jobs:
  javadoc:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@722adc6
      - name: Set up JDK 11
        uses: actions/setup-java@081536e
        with:
          java-version: 11
      - name: Generate Javadoc
        run: ./gradlew javadoc
      - name: Build and Deploy
        uses: JamesIves/github-pages-deploy-action@c74c1d2
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: build/docs/javadoc/