name: Javadoc
on:
  push:
    branches:
      - master
jobs:
  javadoc:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false
      - name: Set up JDK 11
        uses: actions/setup-java@d202f5d
        with:
          java-version: 11
      - name: Set up Node.js 12
        uses: actions/setup-node@56899e0
        with:
          node-version: 12
      - name: Generate Groovydoc
        run: ./gradlew groovydoc
      - name: Prepare to Deploy
        run: |
          npm ci
          rm -f .git/hooks/commit-msg
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: build/docs/groovydoc/
